.main-outer {
  width: 100%;
  padding: 100px 0px 80px 80px;
  justify-content: center;
}

.inner {
  height: auto;
  width: 300px;
  /*border: 2px solid #2a173d;*/
  padding: 30px;
}

.row {
  margin: 0;
}
/*
.inner:nth-child(odd) {
  background-color: darkmagenta;
}

.inner:nth-child(even) {
  background-color: royalblue;
}*/
