<router-outlet></router-outlet>
<div class="outer">
  <form [formGroup]="form" class="example-form" (ngSubmit)="saveProduct()">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Display Name</mat-label>
            <input formControlName="displayName" matInput>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput rows="5"></textarea>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Unit Price</mat-label>
            <input formControlName="unitPrice" type="number" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>QTY On Hand</mat-label>
            <input formControlName="qty" type="number" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Selling Price</mat-label>
            <input formControlName="sellingPrice" type="number" matInput>
          </mat-form-field>
        </div>
        <div class="col-12">
          <p style="text-align: right">
            <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Save Product</button>
          </p>
        </div>



      </div>
    </div>
  </form>
</div>




