<div class="main-outer">
  <div class="inner-outer">

    <h2 class="header-text">Let's get on board </h2>


    <form class="security-form">

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. example@email.com">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>password</mat-label>
        <input type="email" matInput >
      </mat-form-field>

      <button mat-flat-button color="primary" class="submit-button">Login</button>

      <p>If you don't have an account? let's sign up for creating a new account...</p>


      <button mat-flat-button color="warn" class="submit-button">Sign up</button>

    </form>


  </div>
</div>
