<!--<div class="data-wrapper">-->
<mat-card class="mat-wrapper">
  <div class="img-wrapper">
    <img src="https://eddiebauer.scene7.com/is/image/EddieBauer/D0890996_100C1?$328V1$" alt="product image">
  </div>

  <div class="love-button">
    <button mat-fab matTooltip="Add to wish list" color="accent" aria-label="Example fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>Lightweight</mat-chip-option>
    <mat-chip-option selected>StormRepel Super DWR</mat-chip-option>
    <mat-chip-option color="accent" >Water Repellent</mat-chip-option>
    <mat-chip-option color="warna" selected>Convertible</mat-chip-option>
  </mat-chip-listbox>

  <mat-card-content>
    <span style="font-weight: bold">WindPac Jacket</span>
    <br>
    <span>$19.8</span>
  </mat-card-content>

</mat-card>
<!--</div>-->

