.main-outer{
  padding-top: 90px;
  padding-bottom: 10px;
  border:5px solid darkred;
  padding-left: 20px;
}

.btn-outer{
  width: 100%;
  height: 40px;
  padding: 0 13px;
  display: flex;
  border: 1px solid blue;
}

button{
  height: 35px;
  width:200px ;
  border: none;
  border-right: 1px solid var(--primary-color);
  padding: 0 20px;
}

button:last-child{
  border: none;
}

.active{
  color: white;
  background-color: var(--primary-color);
}
